[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
numpy = "*"
tensorflow = "*"
matplotlib = "*"
tensorflow-addons = "*"
tensorflow-datasets = "*"
opencv-python = "*"
albumentations = "*"

[dev-packages]

[requires]
python_version = "3.9"
